<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
      Toggle odd / even numbers
    </button>

    <br /><br />

    <div *ngIf="onlyOdd">
      <ul class="list-group">
        <li class="list-group-item" [ngStyle]="{backgroundColor: 'yellow'}" 
          *ngFor="let n of odd">
          {{n}}
        </li>
      </ul>
    </div>

    <div *ngIf="!onlyOdd">
      <ul class="list-group">
        <li class="list-group-item" [ngStyle]="{backgroundColor:'red'}" 
          *ngFor="let n of even">
          {{n}}
        </li>
      </ul>
    </div>

    <hr>
    
    <div [ngSwitch]="value">
      <p *ngSwitchCase="10">10</p>
      <p *ngSwitchCase="11">11</p>
      <p *ngSwitchCase="12">12</p>
      <p *ngSwitchDefault>{{value}}</p>      
    </div>

  </div>
</div>