<label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p>{{serverName}}</p>

<hr>

<label>Server Name</label>
<!--<input type="text" class="form-control" [(ngModel)]="serverName">--><!--trigger the input event-->
<input type="text" class="form-control" #serverNameContent>
<p>{{serverName}}</p>

<hr>

<button class="btn btn-primary" [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server</button>

<p [innerText]="allowNewServer"></p>
<!--<p>{{serverCreationStatus}}</p>-->

<p *ngIf="serverCreated;else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
    <p>No server created</p>
</ng-template>

<div class="container">
    <div class="row" *ngFor="let s of servers;index as i">
       <p>{{i+1}} Server name is: {{s}}</p>
    </div>
</div>

<app-server (getServerDetails)="onCreateServer($event)" [allservers]="servers"></app-server>

