<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>{{title}}</h3>
            <hr>
            <!--<app-servers></app-servers>-->
            <!--<div app-servers></div>-->
            <div class="app-servers"></div>
            <p appBasicHighlight>Style with basic directive.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-oddeven></app-oddeven>
        </div>
    </div>
    <hr>
    <!--(accountAdded)="onAccountAdded($event)"-->
    <app-new-account ></app-new-account>
    <hr>
    <!--(statusChanged)="onStatusChanged($event)"-->
    <app-account
      *ngFor="let acc of accounts; let i = index"
      [account]="acc"
      [id]="i"
      >
    </app-account>
</div>



